<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Benne&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/signup.css">
    <title>Document</title>
    <header>
      <section id="Navbar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">Logo</a>
            <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
              <ul class="navbar-nav">
                <div id="container">
                  <div class="nav-flex">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Loans
                      </a>
                      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Personal Loan</a></li>
                        <li><a class="dropdown-item" href="#">Business Loan</a></li>
                        <li><a class="dropdown-item" href="#">Home Loan</a></li>
                        <li><a class="dropdown-item" href="#">Home Loan Balance Transfer</a></li>
                        <li><a class="dropdown-item" href="#">Loan Against Property</a></li>
                        <li><a class="dropdown-item" href="#">Gold Loan</a></li>
                      </ul>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Insurance Products
                      </a>
                      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Life Insurance</a></li>
                        <li><a class="dropdown-item" href="#">Health Insurance</a></li>
                        <li><a class="dropdown-item" href="#">Vehicle Insurance</a></li>
                      </ul>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Financial Tools
                      </a>
                      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">EMI Calculator</a></li>
                        <li><a class="dropdown-item" href="#">RD Calculator</a></li>
                        <li><a class="dropdown-item" href="#">FD Calculator</a></li>
                      </ul>
                    </li>
                  </div>
                  <div class="login">
                    <button type="button" style="margin-right: 5px; margin-top: 0.3rem;" class="btn btn-light"><a href="/connector/sign-in">Sign In</a></button>
                  </div>
                </div>
              </ul>
            </div>
          </div>
        </nav>
      </section> 
    </header>
</head>

<body>
  <div class="animated-text">
    TS2 Insurance
    <p class="slogan">Helo</p>
  </div>
  
  <div class="one">  
    <form action="/connector/create" method="POST">
      <h2 class="head-signup">Welcome! Signup</h2>  
            <div class="main">
              <div class="col-one">
                <div class="label" id="label-one">
                  <input type="text" name="first_name" placeholder="First name" required>
                </div>
                
                <div class="label">
                  <input type="text" name="last_name" placeholder="Last name">
                </div>
                
                <div class="label">
                  <input type="number" minlength="10" name="phone" placeholder="Phone number" required>
                </div>
                <div class="label">
                  <input type="email" name="email" onclick="func()" placeholder="Email id" required>
                  <div id="emailHelp" class="form-text" style="position: absolute;">We'll never share your email with anyone else.</div>
                </div>
                
              </div>
              
              <div class="col-two">
                <div class="label" id="label-two">
                  <input type="password" name="password" placeholder="Password"  required>
                </div>
                
                <div class="label">
                  <input type="text" name="confirm_password" placeholder="Confirm password" required>
                </div>
                <div class="label" id="form-button-one">
                  <center><button type="submit" class="submit">Sign Up</button></center>
                </div>
                <p class="forget">If already have an account</p>
                <div class="label" id="form-button-two">
                  <center><a href="/connector/sign-in"><button type="button" class="submit">Sign In</button></a></center>
                </div>
              </div>
            </div>
            
          </form>
          
            
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
            <!-- <script src="/js/home.js"></script> -->
            <script>
              var click = document.getElementById('emailHelp');
              function func(){
                click.style.display="block";
              }
            </script>
    </div>
</body>

        
</html>