<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/fd_calculator.css">
    <title>Home</title>
</head>

<body>
    <header>

        <section id="Navbar">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                  <a class="navbar-brand" href="/">Logo</a>
                    <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                      <ul class="navbar-nav">
                        <div id="container">
                          <div class="nav-flex">
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Loans
                              </a>
                              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item men" href="#">Personal Loan</a></li>
                                <li><a class="dropdown-item men" href="#">Business Loan</a></li>
                                <li><a class="dropdown-item men" href="#">Home Loan</a></li>
                                <li><a class="dropdown-item men" href="#">Home Loan Balance Transfer</a></li>
                                <li><a class="dropdown-item men" href="#">Loan Against Property</a></li>
                                <li><a class="dropdown-item men" href="#">Gold Loan</a></li>
                              </ul>
                            </li>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Insurance Products
                              </a>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                  <li><a class="dropdown-item men" href="#">Life Insurance</a></li>
                                  <li><a class="dropdown-item men" href="#">Health Insurance</a></li>
                                  <li><a class="dropdown-item men" href="#">Vehicle Insurance</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Financial Tools
                              </a>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                  <li><a class="dropdown-item men" href="/emi_calculator">EMI Calculator</a></li>
                                  <li><a class="dropdown-item men" href="#">RD Calculator</a></li>
                                  <li><a class="dropdown-item men" href="/fd_calculator">FD Calculator</a></li>
                                </ul>
                            </li>
                          </div>
                            <% if(!locals.user){ %>
                              <div class="login">
                                <button type="button" style="margin-right: 5px;" class="btn btn-light"><a href="/connector/sign-in">Sign In</a></button>
                                <button type="button" class="btn btn-info"><a href="/connector/sign-up">Sign Up</a></button>
                              </div>
                            <% }else{ %>
                              <div class="login">
                                <span><a class="name-css" href="/connector/profile"><%= locals.user.first_name %></a></span>
                                <button type="button" class="btn btn-danger"><a class="display-name" href="/connector/sign-out">Sign Out</a></button>
                              </div>
                            <% } %>
                        </div>
                      </ul>
                    </div>
                </div>
            </nav>
        </section>
    
    </header>

    <div class="main">
        <div class="col-one">
            <div class="contain"><label>Amount</label><div class="bar"><input class="input" id="A1" onchange="frominput1()" type="number"><i class="icon fa fa-search"></i></div></div>
            <center><div class="slide-div"><input class="slider" id="A2" onchange="slider1()" type="range" min="100000" max="1000000" step="10000"></div></center>
            <div class="span1"><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p></div>
            <div class="span2"><p>10L</p><p>20L</p><p>30L</p><p>40L</p><p>50L</p><p>60L</p><p>70L</p><p>80L</p><p>90L</p><p>100L</p></div>

            <div class="contain"><label>Rate</label><div class="bar"><input class="input" id="R1" onchange="frominput2()" type="number"><i class="icon fa fa-search"></i></div></div>
            <center><div class="slide-div"><input id="R2" class="slider" type="range" onchange="slider2()" min="10000" max="100000" step="1000"></div></center>
            <div class="span1"><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p></div>
            <div class="span2"><p>10L</p><p>20L</p><p>30L</p><p>40L</p><p>50L</p><p>60L</p><p>70L</p><p>80L</p><p>90L</p><p>100L</p></div>

            <div class="contain"><label>Period</label><div class="bar"><input class="input" id="P1" onchange="frominput3()" type="number"><i class="icon fa fa-search"></i></div></div>
            <center><div class="slide-div"><input id="P2" class="slider" type="range" onchange="slider3()"></div></center>
            <div class="span1"><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p></div>
            <div class="span2"><p>10L</p><p>20L</p><p>30L</p><p>40L</p><p>50L</p><p>60L</p><p>70L</p><p>80L</p><p>90L</p><p>100L</p></div>
        </div>
        <div class="col-two">
            <div class="contain"><label>Amount</label><div class="bar"><input class="input" type="number"><i class="icon fa fa-search"></i></div></div>
            <div class="contain"><label>Rate</label><div class="bar"><input class="input" type="number"><i class="icon fa fa-search"></i></div></div>
            <div class="contain"><label>Period</label><div class="bar"><input class="input" type="number"><i class="icon fa fa-search"></i></div></div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="/js/FD-calculator.js"></script>
</body>
</html>
