<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://fonts.googleapis.com/css2?family=Benne&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
        <!-- CSS only -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/rd-calculator.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Home</title>
</head>

<body>
    <%- include('header') -%>
    
    <div class="main">
        <div class="col-one">
            <div class="contain"><label>Amount</label><div class="bar"><input class="input" id="p1" onchange="frominput1()" type="number" value="100000"><i class="fas fa-rupee-sign"  id="fd-icon" style=" width: 3rem; padding-left: 1rem; padding-block: 0.5rem;  border-left: solid rgb(104, 104, 104);"></i></div></div>
            <center><div class="slide-div"><input class="slider" id="p2" onchange="slider1()" type="range" min="100000" max="1000000" step="10000"></div></center>
            <div class="span1"><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p></div>
            <div class="span2"><p class="first1">10L</p><p>20L</p><p>30L</p><p>40L</p><p>50L</p><p>60L</p><p>70L</p><p>80L</p><p>90L</p><p>100L</p></div>
            
            <div class="contain"><label>Rate</label><div class="bar"><input class="input" id="r1" onchange="frominput2()" type="number" value="10.5"><i class="fas fa-rupee-sign"  id="fd-icon" style="width: 3rem; padding-left: 1rem; padding-block: 0.5rem;  border-left: solid rgb(104, 104, 104);"></i></div></div>
            <center><div class="slide-div"><input id="r2" class="slider" type="range" onchange="slider2()" min="0" max="22.5" step="0.1"></div></center>
            <div class="span1"><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p></div>
            <div class="span2"><p class="first2">0.0</p><p>2.50</p><p>5.0</p><p>7.50</p><p>10.0</p><p>12.50</p><p>15.0</p><p>17.5</p><p>20.0</p><p>22.5</p></div>
            
            <div class="contain"><label>Period</label><div class="bar"><input class="input" id="m1" onchange="frominput3()" type="number" value="60"><i class="fas fa-rupee-sign"  id="fd-icon" style="width: 3rem; padding-left: 1rem; padding-block: 0.5rem;  border-left: solid rgb(104, 104, 104);"></i></div></div>
            <center><div class="slide-div"><input id="m2" class="slider" type="range" onchange="slider3()" min="12" max="60" step="1" ></div></center>
            <div class="span1"><p>|</p><p>|</p><p>|</p><p>|</p><p>|</p></div>
            <div class="span2"><p class="first3">12</p><p>24</p><p>36</p><p>48</p><p>60</p></div>
        </div>
        <div class="col-two">
            <center><div id="piechart" style="margin-left: 8%;" ></div></center>
            <!-- <center><div class="values">
                <hr>
                <h3 id="interest"></h3>
                <hr>
                <h3 id="principle"></h3>
                <hr>
                <h3 id="total"></h3>
            </div></center> -->
            <h2 style="text-align: center; margin-top: 2rem; font-family:sans-serif; font-weight: 400;">Details</h2>
            <center><table class="table" style=" width: 95%;">
                <thead>
                    <tr>
                        <th>EMI</th>
                        <th>Interest</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table></center>
        </div>
    </div>
    
    <div class="full" id="full-div">
        <div class="head-div"><h1 class="table-head">Analysis</h1></div>
        <hr>

        <div class="table-div">
            <!-- <h1 class="analysis">Details/Year</h1> -->
            <div class="mon-data">
                <table class="table2">
                    <thead>
                        <tr>
                            <th>Years</th>
                            <th>Principle</th>
                            <th>Interest</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="blog">
            <h2 class="blog-h2">What is EMI?</h2>
            <p class="blog-p">Equated Monthly Installment - EMI for short - is the amount payable every month to the bank or any other financial institution until the loan amount is fully paid off. It consists of the interest on loan as well as part of the principal amount to be repaid. The sum of principal amount and interest is divided by the tenure, i.e., number of months, in which the loan has to be repaid. This amount has to be paid monthly. The interest component of the EMI would be larger during the initial months and gradually reduce with each payment. The exact percentage allocated towards payment of the principal depends on the interest rate. Even though your monthly EMI payment won't change, the proportion of principal and interest components will change with time. With each successive payment, you'll pay more towards the principal and less in interest. Here's the formula to calculate EMI:
            </p>
            
            <center><h3 class="blog-h2-two" style="max-width: 25rem; margin-bottom: 1.3rem;">E = ( P x r x (1 + r)^n ) / ( (1 + r)^n -1 ), where –</h3></center>
            <p class="blog-p-three" style="margin-top: 0rem; "><b>P</b> is Principal Loan Amount
                <br><b>r</b> is rate of interest calculated on monthly basis. (i.e., r = Rate of Annual interest/12/100. If rate of interest is 10.5% per annum, then r = 10.5/12/100=0.00875)
                <br><b>n</b> is loan term / tenure / duration in number of months
                <p class="blog-p-two">For example, if you deposit a sum of Rs. 1,00,000 for 5 years at 10.5% interest, the equation reads –
                </p>
                
                <center><h3 class="blog-h2-two" style="margin-top: 1rem; margin-bottom: 0.5rem; width: auto; max-width: 10rem;"> EMI : Rs. 2149 </h3></center>
                <p style="width: 90%; margin: 0 auto;">Where - </p>
                <div class="where">
                    <p><b>P</b> = 1,00,000 ,<p>
                    <p><b>r</b> = (10.5/12)/100=8.8x10^(-3) ,</p>
                    <p><b>n</b> = 5*60 </p>
                </div>            
            </div>
        </div>
                
    <%- include('footer') -%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/js/EMI-calculator.js"></script>
</body>
</html>
            