#bcontain{
    height: 31rem;
    width: 60%;
    /* background: rgb(120,195,57); */
    margin-top: 4rem;
    background: rgb(160,222,221);
    border-radius: 3rem;
    max-width: 32rem;
    transition: height 1s;
}

body{
    background: rgb(21,33,55);
    /* background: rgb(19,58,101); */
}

input{
    outline: none;
    max-width: 25rem;
}

.all{
    margin-top: 4rem;
    position: relative;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    transition: margin-top 1s;
}

.heads{
    font-size: 42px;
    margin-top: 1rem;
    transition: font-size 1s,margin-top 1s;
}

.bar{
    max-width: 30rem;
    border:solid;
    width: 65%;
    background: white;
    height: 2.7rem;
    display: flex;
    margin-top: 2.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    transition: width 1s,margin-top 1s;
}

input{
    outline: none;
    height: 2.5rem;
    border: none;
    border-radius: 0.5rem;
}

.get{
    height: 2rem;
    width: 80%;
    margin-left: 0.5rem;
}

.bar i{
    float: left;
    font-size: 26px; 
    margin-left: 0.1rem;
    margin-right: 0.2rem; 
    background: white; 
    padding: 0.2rem; 
    border-radius: 0.3rem;
}

.submit{
    border: none;
    background: rgb(21,33,55);
    font-size: large;
    color: white;
    padding: 0.3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 0.5rem;
    margin-top: 2.2rem;
    font-size: 22px;
    transition: margin-top 1s;
}

@media screen and (max-width:591px) {
    .heads{
        margin-top: 0.4rem;
        font-size: 180%;
    }

    .all{
        margin-top: 2.3rem;
    }

    .bar
    {
        width: 85%;
        margin-top: 1.4rem;
    }

    #bcontain{
        height: 24rem;
        width:70%
    }
    
    .submit{
        margin-top: 1.8rem;
    }
}

@media screen and (max-width:345) {
    
    #bcontain{
        height: 24rem;
        width:80%
    }
    .submit{
        margin-top: 0rem;
    }
}