#bcontain{
    height: 32rem;
    width: 75%;
    /* background: rgb(120,195,57); */
    margin-top: 4rem;
    background: rgb(160,222,221);
    border-radius: 2rem;
    max-width: 35rem;
}

body{
    background: rgb(21,33,55);
    /* background: rgb(19,58,101); */
}

input{
    outline: none;
    max-width: 25rem;
}

.all{
    margin-top: 4rem;
    position: relative;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.heads{
    font-size: 38px;
    margin-top: 2rem;
    transition: font-size 1s;
}

.bar{
    max-width: 30rem;
    border:solid;
    width: 60%;
    background: white;
    height: 2.7rem;
    display: flex;
    margin-top: 2.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
}

input{
    outline: none;
    height: 2.5rem;
    border: none;
    border-radius: 0.5rem;
}

.get{
    height: 2rem;
    width: 80%;
    margin-left: 0.5rem;
}

.bar i{
    margin-left: auto;
    margin-right: auto;
    float: left;
    font-size: 26px; 
    margin-left: 0.1rem;
    margin-right: 0.2rem; 
    background: white; 
    padding: 0.2rem; 
    border-radius: 0.3rem;
}

.submit{
    border: none;
    background: rgb(21,33,55);
    font-size: large;
    color: white;
    padding: 0.3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 0.5rem;
    margin-top: 2.8rem;
    font-size: 22px;
}

@media screen and (max-width:591px) {
    .heads{
        font-size: 180%;
    }
}