#carouselExampleCaptions{
height: 50%;
width: 50%;
margin:2rem auto;
transition: height 1s, width 1s;
}

#Term-Plan{
    display: none;
}

#Health-Plan{
    display: none;
}

#Vehicle-Plan{
    display: none;
}

#submit-btn{
    display: none;
}

.t-head{
    position:absolute;
    margin-top:1.3rem;
    margin-left: 1.5rem;
    color: white;
}

form label{
    color: white;
    font-size: 20px;
    margin-left: 4rem ;
    margin-top: 1.8rem;
    transition: margin-top 1s,font-size 1s;
}

.first-inp{
    margin-left: 1rem;
    padding-left: 1rem;
    border-radius: 1rem;
    border: none;
    height: 2.1rem;
    transition: height 1s;
    background: rgb(43, 43, 43);
}

input{
    background: rgb(43,43,43);
    color: white;
    outline: none;
}


.plot{
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    background: rgb(33, 33, 33);
    height: 16rem;
    width: 33rem;
    border-radius: 2.5rem;
    transition: height 1s,width 1s;
}

#first{
    margin-left: 3.3rem;
    margin-top: 6.5rem;
    transition: margin-top 1s;
}


@media screen and (max-width:900px) {
    #carouselExampleCaptions{
        height: 70%;
        width: 70%;
    }
}

@media screen and (max-width:600px) {
    
    #carouselExampleCaptions{
        height: 70%;
        width: 70%;
    }
    .plot{
        height: 13rem;
        width: 29rem;
    }
    
    #first{
        margin-top: 5.6rem;
        transition: margin-top 1s;
    }
    
    form label{
        font-size: large;
        margin-top: 1.3rem;
    }
    .first-inp{
        height: 1.8rem;
    }
    
}

