
.login{
    position: absolute;
    right: 1%;
}
#container{
    display: flex;
}

.login a{
    text-decoration: none;
    color: black;
}

.display-name{
    color: white !important;
    transition: font-size 1s;
}


.name-css{
    color: white !important;
    text-decoration: none !important;
    padding: 5px;
    transition: font-size 1s;
}

.hide-login{
    visibility: hidden;
}

@media (min-width: 992px){
.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.nav-flex{
    display: flex;
    flex-direction: row;
}
}