body{
    /* background: black; */
    font-family: 'Balsamiq Sans',sans-serif;
    background: white;
}

#sec1{
    background-color: white;
    padding-top: 4rem;
}

.men:active{
    background: rgb(52,58,64);
}

.dropdown-menu:hover{
    background: rgb(52,58,64);
}

.sec2{
    margin-top: 0;
    padding-top: 4%;
    padding-bottom: 1%;
    background-color: black;
    transition: padding-top 0.5s;
}

.login{
    position: absolute;
    right: 1%;
}
#container{
    display: flex;
}

.login a{
    text-decoration: none;
    color: black;
}

.display-name{
    color: white !important;
    transition: font-size 1s;
}


.name-css{
    color: white !important;
    text-decoration: none !important;
    padding: 5px;
    transition: font-size 1s;
}

.hide-login{
    visibility: hidden;
}

.heading{
    font-size: 40px;
    /* margin-left:18%; */
    color:rgb(0, 112, 110);
    /* color: white; */
    color: black;
    font-weight: bold;
    margin-top: 8%;
    margin-bottom: -2%;
    transition: height 1s,margin-top 1s;
}

.whole{
    margin-top: -1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.video{
    margin-top: 5%;
    width: 75%;
    height: 75%;
    margin-left: 10%;
    border-radius: 1rem;
    box-shadow: 0px 0px 20px black;
    /* transition: width 1s; */
}

.one{
    margin-right: 0;
}

.para{
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    /* color: rgb(151, 151, 151); */
    color: rgb(90, 90, 90);
    margin-top: 8%;
    margin-right: 15rem;
    /* margin-left:30%; */
    width:100%;
    transition: width 1s;
}

.paradiv{
    margin-top: 5%;
    margin-right: 5%;
    align-items: center;
    justify-content: center;
}

/* .whole2{
    width: 90%;
    height: 5rem;
    background:transparent;
    margin: 0  auto;
    margin-top: 20%;
}
.single1{
    width: 10rem;
    height: 10em;
    background: transparent;
}
.single2{
    margin-left: 80%;
    width: 10rem;
    height: 10em;
    background: transparent;
}
.icon
{
    margin: 0 auto;
    max-width: 60%;
    display: flex;
    justify-content: space-between;
}
.icon i{
    color:gray;
    font-size: x-large;
    margin: 0 auto;
}
.single1 p{
    margin-top: 0.3rem;
    text-align: center;
    margin-left: -30%;
    margin-right: auto;
    color: white;
}
.single2 p{
    margin-top: 0.3rem;
    text-align: center;
    margin-left: -30%;
    margin-right: auto;
    color: white;
} */

.head{
    margin-top: 0;
    margin-bottom: 4%;
    color:rgb(0, 112, 110);
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: font-size 1s;
}

.para2{
    text-align: center;
    font-size: 17px;
    margin: 0 auto;
    width: 90%;
    max-width: 42rem;
    color: gray;
    color: rgb(182, 187, 190);
    transition: font-size 1s,width 1s;
}

.whole3
{
    margin: 5rem auto;
    background-color: white;
}

.big-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.big-btn button{
    display: flex;
    /* background-image: linear-gradient(to right, rgb(85, 126, 125),rgb(0, 129, 127)); */
    /* background-image: linear-gradient(to right, rgb(53,53,53),rgb(0, 129, 127)); */
    /* background: rgb(12, 49, 85); */
    background: rgb(23,23,23);
    padding: 5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    width: 40%;
    max-width: 32rem;
    border-radius: 0.4rem;
    margin: 1rem;
    border: none;
    transition: width 1s,padding-top 1s,padding-bottom 1s;
}

.big-btn button:hover{
    /* background-image: linear-gradient(to right,rgb(88,171,46), rgb(146, 213, 65)); */
    /* background: rgb(109,184,187); */
    /* background: rgb(5,100,122); */
    background: rgb(245, 242, 242);
    color: black;
    /* background-image: linear-gradient(to right, rgb(21,33,55),rgb(21,33,55)); */
}

.big-btn button:hover h2{
    /* background-image: linear-gradient(to right,rgb(88,171,46), rgb(146, 213, 65)); */
    /* background: rgb(109,184,187); */
    /* background: rgb(5,100,122); */
    background: rgb(245, 242, 242);
    color: black;
    /* background-image: linear-gradient(to right, rgb(21,33,55),rgb(21,33,55)); */
}

.big-btn button:hover .icon1{
    color: black;
}

.big-btn button h2{
    color: rgb(231, 230, 230);
    font-size: 23px;
    margin-right: auto;
    margin-left: 0;
    white-space: nowrap;
    transition: margin-right 1s,font-size 1s;
}

.big-btn button h2 .icon1{
    float: left;
    font-size: 35px;
    margin-left: -3rem;
    /* color: rgb(21,33,55); */
    /* color: rgb(2, 179, 173); */
    /* color: rgb(93,176,49); */
    color: whitesmoke;
    transition: font-size 1s,margin-left 1s;
}

.icon2{
    font-size: 25px;
    float: right;
    color: white;
}


.cards{
    margin: 4rem auto;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 70rem;
}

.text-box{
    margin-top: 1.5rem;
    color: black;
}

.card{
    align-items: center;
    padding-top: 2rem;
    background: rgb(245, 242, 242);
    height: 10rem;
    width: 10rem;
    font-weight: bold;
    /* border: solid white; */
    /* box-shadow: 0px 0px 20px #2D8DBD; */
}

.divs{
    display: block; 
    margin: 0 auto; 
    text-align: center;
}

@media (min-width: 992px){
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .nav-flex{
        display: flex;
        flex-direction: row;
    }
}


@media screen and (max-width:1015px) {
    
    .heading{
        font-size: 30px;
        margin-top: 3%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .video{
        animation: video 0.5s;
        width: 98vw;
        margin: 0 auto;
        display: flex;
        align-items: center;
        max-width: 40rem;
    }
    
    @keyframes video {
        from{width:100%}
        to{width: 100%;}
    }
    
    .para{
        text-align: center; 
        margin-left: auto; 
        margin-right: auto; 
        margin-top: 2.5rem; 
        font-size: 14px;
        width: 75%;
        line-height: 21px;
        word-spacing: 1px;
    }
    
    .whole{
        margin-top: 0rem;
        display: flex;
        flex-direction: column;
    }
    .icon
    {
        margin: 0 auto;
        max-width: 80%;
        display: flex;
        justify-content: space-between;
    }
    
    .big-btn{
        display: flex;
        flex-direction: column;
    }
    
    .big-btn button{
        padding-top: 3%;
        padding-bottom: 1.3%;
        width: 90%;
        max-width: 90%;
        display: flex;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    
    .big-btn button h2{
        color: rgb(231, 230, 230);
        font-size: 19px;
        margin-right: 6rem;
        white-space: nowrap;
    }
    
    .big-btn button h2 .icon1{
        float: left;
        font-size: 30px;
    }
    
    .head{
        font-size: 30px;
    }
    .icon2{
        position: absolute;
        margin-left: 70%;
        font-size: 20px;
        color: white;
    }

    .cards{
        width:95%;
    }

    .sec2{
        padding-top: 6%;
    }

}

@media screen and (max-width:700px) {
    .big-btn button{
        padding-top: 4%;
    }
    .big-btn button h2{
        color: rgb(231, 230, 230);
        font-size: 16px;
        margin-right: 6rem;
        white-space: nowrap;
    }

    .big-btn button h2 .icon1{
        float: left;
        font-size: 25px;
        margin-left: -3rem;
    }

    .paradiv{
        background: #000;
        width: 100%;
        margin-top: 4rem;
        padding-bottom: 2rem;
    }

    .whole{
        margin-bottom: 2rem;
    }

    .heading{
        margin-top: 2rem;
        color: white;
    }
    
    .para{
        font-size: 16px;
        width: 90%;
        color: rgb(184, 184, 184);
    }

    .icon1{
        margin-left: 0;
    }

    .icon2{
        font-size: 16px;
        margin-left: 65%;
        color: white;
    }

    .sec2{
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
        background: white;
    }

    .head{
        color: black;
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .para2{
        color: rgb(100, 99, 99);
    }

    .video{
        animation: video 1s;
        width: 95%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        max-width: 40rem;
    }

    .whole3{
        margin-top: 2rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
        background: #000;
    }
    
    .cards{
        display: none;
    }
}

@media screen and (max-width:403px) {
    .icon2{
        visibility: hidden;
    }
}