body{
    /* background-color:gray; */
}

.list li{
    display: inline;
}

.list li button{
    margin-left:0rem;
    border: none;
    background: white;
    font-size: 1.5rem;
}

.list a{
    color: black;
    text-decoration: none;
}

.home{
    transition: font-size 1s;
}
.minibar{
    margin-top: 4rem;
    margin-left: 4%;
    transition: margin-top 1s, margin-left 1s;
}

.image img{
    margin-bottom: 4.5rem;
}
.image{
    margin-right: auto;
    margin-left: auto;
    height: 25rem;
    transition: height 1s;
}

div .details
{
    width: 80%;
}

img{
    margin-top: 0;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    transition: height 1s,width 1s,margin-top 1s;
}

.details div{
    font-size: x-large;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width: 80%;
    border-radius: 1rem;
    transition: font-size 1s,margin-top 1s,margin-bottom , height 1s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

div button{
    background: white;
    border: none;
}

.name{
    margin-top: -3.8rem;
    margin-right: auto;
    margin-left: auto;
    transition: margin-top 1s;
}

.ala{
    margin-top: 1.3rem;
    width: 40%;
    border-top: 1.5px solid black;
    transition: width 1s;
}

.dropdown1 a{
    text-decoration: none;
    color: black;
    visibility: hidden;
    font-size: large;
    margin-left: 0.5rem;
    margin-top: 0.3rem;
}

.dropdown1:hover{
    height: 10rem;
}

.dropdown1:hover a{
    display: block;
    visibility: visible;
    transition: visibility 10s;
}

.dropdown2{
    height: 1rem;
}
.dropdown2:hover{
    height: 10rem;
}

.dropdown3{
    height: 1rem;
}
.dropdown3:hover{
    height: 10rem;
}

.dropdown4{
    height: 1rem;
}
.dropdown4:hover{
    height: 10rem;
}

.dropdown5{
    height: 1rem;
}
.dropdown5:hover{
    height: 10rem;
}

.dropdown6{
    height: 1rem;
}
.dropdown6:hover{
    height: 10rem;
}


/* .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: height 1s;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown:focus .dropdown-content {
    display: flex;
    height: 10rem;
}

.dropdown:hover .dropdown-content {
    display: flex;
    height: 10rem;
} */


@media screen and (max-width: 900px)
{
    .home{
        font-size: large;
    }
    
    .minibar{
        margin-top: 1rem;
        margin-left: -1%;
    }
    
    .details div{
        font-size: 22px;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        height: 3.8rem;
    }
    .name-css{
        font-size: medium;
    }
    
    .display-name{
        font-size: medium;
    }

    img{
        height: 150px;
        width: 150px;
        margin-top: 1rem;
    }

    .image{
        height: 23rem;
    }
    
    .ala{
        width: 55%;
    }
}


@media screen and (max-width: 600px)
{
    .details div{
        font-size: 18px;
        margin-top: 0.8rem;
        margin-bottom: 1.3rem;
        height: 3.4rem;
    }
    .name-css{
        font-size: medium;
    }
    
    .display-name{
        font-size: medium;
    }
    img{
        height: 120px;
        width: 120px;
    }
    .image{
        height: 20rem;
    }
    .ala{
        width: 70%;
    }
}