body, html {
  background-color: #EBECF0;
}

body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
}

header{
  font-family: sans-serif!important;
  text-shadow: none!important;
}

form div, p {
  color: #BABECC;
  text-shadow: 1px 1px 1px #FFF;
}

form {
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 45%;
  margin: 0 auto;
  margin-top: 6rem;
}

.segment {
  margin-top: 1rem;
  padding: 32px 0;
  color: rgb(65, 63, 63);
  text-align: center;
}

form button, input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: #EBECF0;
  text-shadow: 1px 1px 0 #FFF;
}

form label {
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
  width: 80%;
  max-width: 20rem;
}

form input {
  margin-right: 8px;
  -webkit-box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
          box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

form input::placeholder { 
  color: rgb(131, 129, 129);
  opacity: 1; 
}

form input:focus {
  -webkit-box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
          box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

form button {
  color: #61677C;
  font-weight: bold;
  -webkit-box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
          box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}

form button:hover {
  -webkit-box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
          box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

form button:active {
  -webkit-box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
          box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

form button .icon {
  margin-right: 8px;
}

form button.unit {
  border-radius: 8px;
  line-height: 0;
  width: 48px;
  height: 48px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 8px;
  font-size: 19.2px;
}
form button.unit .icon {
  margin-right: 0;
}

form button.red {
  margin:0 auto;
  margin-top: 1rem;
  display: block;
  width: 80%;
  color: #AE1100;
  max-width: 20rem;
}

.signin-main{
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  display: flex;
  max-width: 70rem;
}

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.input-group label {
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}


.img-div{
  width: 100%;
  margin: 0 auto;
  max-width: 30rem;
}

.img-div img{
  width: 95%;
  height: 280px;
  margin-left: 0.7rem;
}

.landscape{
  width: 55%;
  /* margin-right: 2rem; */
}

.landscape h2{
  font-family: 'nunito';
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 28px;
}



@media screen and (max-width:1000px) {

  .img-div{
    display: none;
  }

  .landscape{
    width: 100%;
  }

  form{
    margin-top: 3rem;
    width: 100%;
  }

  form label {
    display: block;
    margin-bottom: 18px;
    width: 85%;
    max-width: 20rem;
    min-width: 20rem;
  }
  
  form button.red {
    margin-top: 1.4rem;
    width: 85%;
    min-width: 20rem;
    max-width: 20rem;
  }

  .segment{
    margin-top: 1.5rem;
    padding: 10px;
  }

  .signin-main{
    display: block;
  }

  .landscape h2{
    font-size: 28px;
  }
}

@media screen and (max-width:600px) {
  .landscape h2{
    font-size: 25px;
  }
}

@media screen and (max-width:400px) {
  .landscape h2{
    font-size: auto;
  }
  form {
    margin-top: 2rem;
    width: 100%;
  }

  form label{
    width: 100%;
    min-width: 0rem;
  }
  
  form button.red{
    width: 100%;
    min-width: 0rem;
  }
}