body, html {
  background-color: #f5f6fa !important;
}
/* #EBECF0 */

.body-head::before{
  content: '..';
  background: url('../images/cherry.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  filter: brightness(.7);
  position: absolute;
  /* display: inline!important; */
  width: 100%;
  height: 100%;
  min-height: 35rem;
  max-width: 80rem;
  max-height: 35rem;
  z-index: 0;
}

.body-head{
  padding-top: 0.1rem;
  padding-bottom: 1rem;
  max-width: 80rem;
  border-radius: 0.3rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
}

header{
  font-family: sans-serif!important;
  text-shadow: none!important;
}

form div, p {
  color: #BABECC;
  text-shadow: 1px 1px 1px #d7d8db;
}

.main-head {
  position: relative;
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  font-family: 'calibri' ;
  margin: 2.5rem ;
  text-shadow: 0px 0px 1px white;
  color: #2C3A47!important;
}

form {
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 35%;
  padding-top: 4rem;
  margin: 1rem auto;
  margin-left: 1rem;
  min-width: 25rem;
  z-index: 100;
  background: rgba(0, 0, 0, 0.37);
  /* margin-top: 2rem; */
}

.segment {
  margin-top: 0.5rem;
  padding: 32px 0;
  color: rgb(65, 63, 63);
  text-align: center;
}

form button, input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: #EBECF0;
  text-shadow: 1px 1px 0 #d7d8db;
}

form label {
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
  width: 80%;
  max-width: 20rem;
}

.welcome{
  position: absolute;
  text-align: center;
  width: 20rem;
  color: black;
  font-size: 20px;
  margin-left: 8.5rem;
  margin-top: 13rem;
  opacity: 0;
  animation: reveal 2s forwards;
  animation-delay: 1s;
  text-shadow: 0.5px 0.5px 0.5px rgb(36, 35, 35);
}

@keyframes reveal {
  to{
    opacity: 1;
  }
}

form input {
  margin-top: 0.5rem;
  margin-right: 8px;
  -webkit-box-shadow: inset 2px 2px 5px #7f8fa6, inset -5px -5px 10px #EBECF0;
  box-shadow: inset 2px 2px 5px #7f8fa6, inset -5px -5px 10px #EBECF0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

form input::placeholder { 
  color: rgb(131, 129, 129);
  opacity: 1; 
}

form input:focus {
  -webkit-box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #d7d8db;
          box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #d7d8db;
}

form button {
  color: #61677C;
  font-weight: bold;
  -webkit-box-shadow: -5px -5px 20px #7f8fa6, 5px 5px 20px #7f8fa6;
  box-shadow: -5px -5px 20px #7f8fa6, 5px 5px 20px #7f8fa6;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}

form button:hover {
  -webkit-box-shadow: -2px -2px 5px #7f8fa6, 2px 2px 5px #7f8fa6;
  box-shadow: -2px -2px 5px #7f8fa6, 2px 2px 5px #7f8fa6;
}

form button:active {
  -webkit-box-shadow: inset 1px 1px 2px #8390a3, inset -1px -1px 2px #8390a3;
  box-shadow: inset 1px 1px 2px #8390a3, inset -1px -1px 2px #8390a3;
}

form button .icon {
  margin-right: 8px;
}

form button.unit {
  border-radius: 8px;
  line-height: 0;
  width: 48px;
  height: 48px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 8px;
  font-size: 19.2px;
}
form button.unit .icon {
  margin-right: 0;
}

form button.red {
  margin:0 auto;
  margin-top: 2rem;
  display: block;
  width: 80%;
  color: #AE1100;
  max-width: 20rem;
}

.signin-main{
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  display: flex;
  max-width: 85rem;
}

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.input-group label {
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.animated-text {
  margin-top: 4rem;
  margin-left:5rem;
  background: 50% 100% / 50% 50% no-repeat
              radial-gradient(ellipse at bottom, #d7d8db, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: rgb(41, 41, 41);
  font-size: 65px;
  position: absolute;
  font-family: "Source Sans Pro", sans-serif;
  animation: reveal 2000ms ease-in-out forwards 200ms, float 2000ms;
  opacity: 1;
  z-index: 9999;
  text-shadow: 1px 1px 3px black;
}  

@keyframes float{
    from{
      margin-top: 10rem;
    }
}

@keyframes glow {
  40% {
    text-shadow: 1px 1px 3px black;
  }
}


.slogan{
  font-size: 18px; 
  color: #CAD3C8; 
  margin-top: -1rem; 
  margin-left: 15rem;
  animation: glow 1000ms 1 forwards;
  text-shadow: 1px 1px 3px black;
}

.img-div{
  width: 100%;
  margin: 0 auto;
  max-width: 35rem;
}

.img-div img{
  width: 110%;
  height: 370px;
  margin-left: 0.7rem;
  border-radius: 0.2rem;
  animation: blur 2000ms forwards;
}

@keyframes blur {
  0%{
    filter: blur(0);
  }
  100%{
    filter:blur(0.5px);
  }
}

.landscape h3{
  margin-top: 1rem;
  font-size: 20px;
  text-align: center;
}

.landscape{
  width: 60%;
  /* margin-right: 2rem; */
}
/* 
.main-head{
  font-family: 'nunito';
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 28px;
} */

.text-1{
  display: none;
}


@media screen and (max-width:1050px) {

  .body-head::before{
    content: '..';
    background: url('../images/cherry2.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    filter: brightness(.7);
    position: absolute;
    width: 88%;
    margin: 1rem auto;
    height: 100%;
    max-width: 35rem;
    max-height: 20rem;
    z-index: 0;
  }
  .body-head{
    margin: 1rem auto;
    max-height: 20rem;
    width: 88%;
    max-width: 35rem;
  }
  .signin-main{
    margin-top: 1.4rem;
  }
  
  .landscape{
    width: 100%;
    display: none;
  }
  
  form{
    position: relative;
    background: transparent;
    padding: 0;
    margin: 0;
    margin-top: 3rem;
    width: 100%;
    min-width: unset;
    z-index: 100;
  }
  
  form label {
    display: block;
    margin-bottom: 18px;
    width: 85%;
    margin-top: 1.5rem;
    max-width: 19.5rem;
    min-width: 19.5rem;
  }
  
  form button.red {
    margin-top: 1.8rem;
    width: 85%;
    min-width: 19.5rem;
    max-width: 19.5rem;
  }
  
  .segment{
      margin-top: 2rem;
      padding: 10px;
  }
  
  .signin-main{
      display: block;
  }
  
  .main-head{
      font-size: 32px;
      margin-top: 0rem;
      margin-bottom: 1.5rem;
      background-size: 100%;
      display: none;
  }
  
  .text-1{
      margin-top: 3.5rem;
      position: relative;
      display: block;
  }
  
  .animated-text {
      position: relative;
      margin-top:1rem;
      margin-left: 0;
      text-align: center;
      font-size: 50px;
      position: static;
    }  

  @keyframes float{
    80%{
      margin-left: -3rem;
    }
    100%{
      margin-left: 5rem;
      filter:blur(0.5px);
    }
  }

  @keyframes reveal {
    80%{
      letter-spacing: 4px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  @keyframes glow {
    40% {
      text-shadow: 1px 1px 3px black;
    }
  }

  .slogan{
    text-align: center;
    font-size: 16px; 
    margin: 0;
    margin-top: -0.5rem; 
    margin-left: 0rem;
  }

}

@media screen and (max-width:600px) {
  .main-head{
    font-size: 28px;
  }
  
  .animated-text{
    font-size: 40px;
  }

  @keyframes float{
    80%{
      margin-left: -1rem;
    }
    100%{
      margin-left: 1rem;
      filter:blur(1px);
    }
  }

  form{
    margin-top: 2.5rem;
  }
  
}

@media screen and (max-width:450px) {
  .main-head{
    font-size: auto;
  }
  .animated-text{
    font-size: 40px;
    animation: none;
  }
  form {
    margin: 0 auto;
    margin-top: 2rem;
    width: 90%;
    min-width: unset;
    z-index: 100;
  }
  
  form label{
    width: 100%;
    min-width: 0rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  form input{
    width: 100%;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  form button.red{
    width: 100%;
    min-width: unset;
  }
}