<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/email.css"> -->
    <title>Document</title>
</head>

<body style="background: white; justify-content: center; align-items: center;">
    <center><div class="top" style="border-bottom: solid rgb(25, 38, 39); border-width: 1rem;  padding-top: 3rem; padding-bottom: 1rem; border-top-left-radius: 0.3rem; border-top-right-radius: 0.3rem; background-color: teal;; width: 100%; margin: 3rem auto 0; max-width: 40rem;">
        <h1 style="color: white; margin-top: -0.5rem; margin-bottom: 0.3rem; font-family: monospace; font-weight: bold; font-size: 1.1rem; transition: font-size 1s; position: relative; font-family: 'Montserrat', Arial, sans-serif; font-size: 2.1rem; font-weight: 700; color: #fff; letter-spacing: 0.02em; text-transform: uppercase; text-shadow: 0 0 0.15em black; /* user-select: none; */ white-space: nowrap; filter: blur(0.007em); animation: shake 2.5s linear forwards;">TS2 Insurance</h1>
        <h3 style="font-size: 16px; color: white; font-family: monospace; text-shadow: 0 0 0.15em black;">Office Address, Faridabad</h3>
        
    </div></center>
    <div class="main" style="margin: 0 auto; padding-top: 1rem; padding-bottom: 3rem; width: 100%; max-width: 40rem; background: rgb(177,216,219); justify-content: center;">
        <h2 class="name" style="margin-top: 1rem; margin-left:3rem; text-align: left; font-size: large; color: teal; font-weight: bold; font-family: 'Open Sans', sans-serif; opacity: 1.5;">Hi {Name}</h2>
        <p style="font-family: 'Open Sans', sans-serif; text-align: left; color: black; margin:0 auto; margin-top: 1.5rem; width: 90%;  font-size: 16px; margin-left: 3rem; font-weight: 700; line-height: 1.6rem;">You have successfully registered the {Plan-name} Insurance plan for {Name of Insured}. Please make sure that all the details are correct.</p>
        
        <div class="main-body" style=" margin: 2.5rem auto; margin-bottom:0rem; border:solid gray; border-width: 0.01rem; width: 90%; height: auto; max-width: 40rem; justify-content: center;"> 
            <p style="padding-left: 1rem; font-family: 'Open Sans', sans-serif;"><b>Name of Insured : </b>Name</p>
            <p style="padding-left: 1rem; font-family: 'Open Sans', sans-serif;"><b>Phone No. of Insured : </b>Name</p>
            <% /*if()  */%>
            <div class="term">
            <p style="padding-left: 1rem; font-family: 'Open Sans', sans-serif;"><b>Age : </b></p>
            <p style="padding-left: 1rem; font-family: 'Open Sans', sans-serif;"><b>Source of income : </b></p>
            <p style="padding-left: 1rem; font-family: 'Open Sans', sans-serif;"><b>Illness : </b></p>
            </div>
            <% /*} else if() */%>
            <!-- <div class="vehicle">
                <p style="padding-left: 1rem; font-family: 'Open Sans', sans-serif;"><b>Vehicle No. : </b></p>
                <p style="padding-left: 1rem; font-family: 'Open Sans', sans-serif;"><b>Make of Vehicle : </b></p>
            </div> -->
            <% /*} else if() */%>
            <!-- <div class="health">
                <p style="padding-left: 1rem; font-family: 'Open Sans', sans-serif;"><b>Spouse Name : </b>Name</p>
                <p style="padding-left: 1rem; font-family: 'Open Sans', sans-serif;"><b>Plan-name : </b>Plan</p>
                <p style="padding-left: 1rem; font-family: 'Open Sans', sans-serif;"><b>Name of 1st child : </b></p>
                <p style="padding-left: 1rem; font-family: 'Open Sans', sans-serif;"><b>Name of 2nd child : </b></p>
            </div> -->
            <% /*} */%>
        </div>
        <div class="main" style="margin: 2.5rem auto; text-align: center;">
            <p style="margin-bottom: 1.5rem; font-weight: 200!important; opacity: 0.7;">Please visit our website by clicking here</p>
            <button style="border: none; background:rgb(11,94,215); color: white; padding:0.5rem 1.3rem; border-radius: 0.4rem; font-size: large;">Login</button>
        </div>
        <div class="thanks" style="margin-left: 2.5rem; margin-top: 3rem;">
            <p style="font-family: 'Open Sans', sans-serif; font-size:medium; margin-bottom: -0.7rem; font-weight: 550;">Stay healthy,</p>
            <p style="font-family: 'Open Sans', sans-serif; font-size:medium; font-weight: 600;">From TS2 Insurance Team</p>
        </div>
    </div>


</body>
</html>