<div>

    <p>
        Hi <%= signUp.connector.first_name %>
    </p>
    <br>
    <br>
    <p>
        Your account has been created successfully !!!
    </p>
    <br>
    <br>
    <p>Thanks !</p>

</div>